{% extends "../../base.html" %}

{% block title %}{{ category.name }}{% endblock title %}

{% block content %}
<main>

  <div class="album py-5">
    <div class="container">

      <div class="pb-3 h2">All Courses relating {{ category.name|title }}</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
            {% for image in product.product_image.all %}
            {% if image.is_feature %}
            <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ image.image.url }}"
              alt="{{ image.image.alt_text }}">
            {% else %}
            <img class="img-fluid d-block-inline pt-3" width="100px" alt="Responsive image" src="{{ image.image.url }}"
              alt="{{ image.image.alt_text }}">
            {% endif %}
            {% endfor %}
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">£{{ product.regular_price }}</small>
              </div>
            </div>
          </div>
        </div>

        {% empty %}
        <p>No result. <a href="{% url 'store:product_all' %}">Back to Shop</a></p>
        {% endfor %}


      </div>
    </div>
  </div>
</main>
{% endblock %}