{% extends "../base.html" %}

{% block title %}Basket Summary{% endblock title %}

{% block content %}
<main class="pt-5">
  <div class="container">
    <h1 class="h5">Shopping basket</h1><br>
    {% for item in basket %}
    {% with product=item.product %}
    <div id="item{{ product.id }}" class="row mb-4 border product-item">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
        <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ product.image.url }}">
      </div>

      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
          <h1 class="h5 pt-2">{{ product.title }}</h1>
        </a>
        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">{{ product.description }}</div>
              <div class="col-6 text-end h6 fw-bold">£<span id="total-price{{ product.id }}">{{ item.total_price }}</span></div>
            </div>
          </div>

          <div class="col">
            <div class="row p-3">
              <div class="col-12">
                <label for="select">Qty</label>

                <select id="select{{product.id}}">
                  <option selected id="select-quantity">
                    {{ item.quantity }}
                  </option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>

                <button type="button" data-id="{{ product.id }}"
                  class="btn btn-outline-secondary btn-sm update-button">
                  Add
                </button>

                <button type="button" data-id="{{ product.id }}"
                  class="btn btn-outline-secondary btn-sm delete-button">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
    {% endfor %}
    <div class="col-12 text-end">
      <div class="h6 fw-bold">Sub Total: £<div id="basket-price" class="d-inline-flex">{{basket.get_basket_price}}</div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block script %}
<script>
  // Delete item
  $(document).on('click', '.delete-button', function(e) {
    e.preventDefault();
    const productID = $(this).data('id');

    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_delete" %}',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        productID: productID,
        action: 'delete'
      },
      success: (json) => {
        $(`#item${productID}`).remove();

        $('#basket-quantity').html(json.basket_quantity);
        $('#basket-price').html(json.basket_price);
      },
      error: (xhr, errMessage, err) => {
      }
    })
  })

  // Update item
  $(document).on('click', '.update-button', function(e) {
    e.preventDefault();
    const productID = $(this).data('id');
    console.log(productID)

    $.ajax({
      type: 'POST',
      url: '{% url "basket:basket_add" %}',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        productID: productID,
        productQuantity: $(`#select${productID}`).val(),
        action: 'post'
      },
      success: (json) => {
        $('#basket-quantity').html(json.basket_quantity);
        $('#basket-price').html(json.basket_price);

        // $('#select-quantity').html(json.basket_quantity);
        $(`#total-price${productID}`).html(json.item_total_price);
      },
      error: (xhr, errMessage, err) => {
      }
    })
  })

</script>
{% endblock script %}