{% extends "../base.html" %}

{% block title %}ECommerce{% endblock title %}


{% block content %}
<main class="pt-2">
  <div class="container">
    <div class="row g-3">
      <div class="alert alert-primary fw600 rounded-0 border-0 py-3" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
          class="bi bi-info-circle me-2" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
        COVID-19 - <u>Click here for our latest updates and information</u> on our stores and services. Thank you very much for your support.
      </div>
    </div>
  </div>

  <div class="album py-5">
    <div class="container">
      <div class="row">

        <div class="pb-3 h2">Top Deals</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
          {% for product in products %}
          <div class="col">
            <div class="card shadow-sm">
              <img alt="Responsive image" height="170" width="100%" src="{{ product.image.url }}">
              <div class="card-body">
                <p class="card-text">
                  <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">
                    {{ product.title|slice:":50" }}{% if product.title|length > 50 %}...{% endif %}
                  </a>
                </p>
                <div class="fw-bold">{{ currency_context_processor }}{{product.price}}</div>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="col-12">There are currently no active products</div>
          {% endfor %}
        </div>
      </div>

      <!-- Pagination -->
      <div class="text-center">
        {% if is_paginated %}
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-secondary mt-5">Previous</a>
          {% else %}
            <a class="btn mt-5 disabled">Previous</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
              {% if num == page_obj.number %}
                <a href="?page={{ num }}" class="btn btn-secondary mt-5">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}" class="btn btn-outline-secondary mt-5">{{ num }}</a>
              
              {% elif page_obj.paginator.num_pages > page_obj.number|add:'3' and forloop.last %}
                <a class="btn mt-5 ms-2 disabled">⋯</a>
                <a class="btn mt-5 disabled">{{ page_obj.paginator.num_pages }}</a>
              {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-secondary mt-5 ms-2">Next</a>
          {% else %}
            <a class="btn mt-5 disabled">Next</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

</main>
{% endblock %}